@font-face {
  font-family: 'Nunito';
  src: url(assets/nunito.ttf) format('truetype');
}

$backgroundColor: #ffffff;
$bodyColor: #000000;
$bodyFont: 'Nunito', sans-serif;

body {
  background: $backgroundColor;
  color: $bodyColor;
  font-family: $bodyFont;
}

header {
  nav {
    a {
      color: black;
    }

    a:hover {
      color: grey;
    }
  }

  border-bottom: 2px solid black;
}
